PORT=5000
NODE_ENV=development

MONGO_URI=mongodb://127.0.0.1:27017/jobboard
REDIS_URL=redis://127.0.0.1:6379

JWT_SECRET=replace_with_long_random_string
JWT_EXPIRES_IN=7d
COOKIE_NAME=jb_token

CLIENT_ORIGIN=http://localhost:3000

CACHE_TTL_LIST=120
CACHE_TTL_DETAIL=600

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_gmail_address@gmail.com
SMTP_PASS=your_gmail_app_password
MAIL_FROM="JobBoard <your_gmail_address@gmail.com>"
